* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  scroll-behavior: smooth;
  background-color: #0c0c0c;
  color: #fff;
  
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}

.logo {
  font-size: 33px;
  letter-spacing: 2px;
}

nav a,
.nav-right a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 17px;
  
}

.nav-right {
  display: flex;
  align-items: center;
}

.divider {
  width: 1px;
  height: 20px;
  background: #aaa;
  margin: 0 10px;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
}

.hero-text {
  max-width: 660px;
}

.subtitle {
  color: #f5efdb;
  font-size: 22px;
  margin-bottom: 3vw;
}

#main-text h1 {
  font-size: 88px;
  color: #dcca87;
  line-height: 1.2;
  margin-bottom: 30px;
  letter-spacing: 2px;
   font-family: "Cormorant Upright", serif;
}

.description {
  font-size: 18px;
  line-height: 1.8;
  color: #aaa;
  margin-bottom: 32px;
  
}

.btn1 {
  background-color: #f5efdb;
  border: none;
  padding: 12px 30px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
   font-family: "Cormorant Upright", serif;
}

/* Hero Image */
.hero-image {
  position: relative;
  width: 450px;
  margin-right: 6vw;
}

/* Image */
.hero-image img {
    height: 34vw;
  width: 100%;
  position: relative;
  z-index: 1;
}

/* Top-right golden frame */
.hero-image::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -25px;
  width: 70%;
  height: 70%;
  background-color: #dcca87;
  z-index: 1;
}

/* Bottom-left golden frame */
.hero-image::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: -25px;
  width: 70%;
  height: 70%;
  background-color: #dcca87;
  z-index: 0;
  
}
.hero-image:hover::before {
  top: -15px;
  right: -15px;
}

.hero-image:hover::after {
  bottom: -15px;
  left: -15px;
}

.hero-image::before,
.hero-image::after {
  transition: 0.3s ease;
}

/* About Section */
.about-section {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px;
  background: radial-gradient(circle, #1a1a1a, #000);
}

.bg-letter {
  position: absolute;
  font-size: 600px;
  color: rgba(255, 255, 255, 0.05);
  z-index: 1;
  font-family: "Cormorant Upright", serif;
}

/* Keep content above the G */
.content,
.knife {
  position: relative;
  z-index: 2;
}

#content-left{
  width: 500px;
  text-align: right;
}
#content-right{
  width: 500px;
  text-align: left;
}

.about-section h2 {
  font-size: 58px;
  color: #dcca87;
  margin-bottom: 50px;
   font-family: "Cormorant Upright", serif;
}

.about-section p {
  font-size: 18px;
  line-height: 1.8;
  color: #aaa;
  margin-bottom: 30px;
}

.about-section button {
  background: #dcca87;
  border: none;
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
   font-family: "Cormorant Upright", serif;
}

.about-section button:hover {
  background: #fff;
}

.knife img {
  height: 800px;
}

/* Menu */
#heading{
    margin-bottom: 3vw;
     font-family: "Cormorant Upright", serif;
}
.special {
  min-height: 100vh;
  padding:50px 40px;
  text-align: center;
}

.title {
   font-family: "Cormorant Upright", serif;
  font-size: 68px;
  color: #dcca87;
  margin-bottom: 70px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.menu-col {
  width: 400px;
  text-align: left;
}

.menu-col h2 {
   font-family: "Cormorant Upright", serif;
  text-align: center;
  font-size: 55px;
  margin-bottom: 40px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}

.item::after {
  content: "";
  position: absolute;
  left: 55%;
  top: 50%;
  width: 90px;
  height: 1px;
  background: #dcca87;
}

.item h3 {
   font-family: "Cormorant Upright", serif;
  font-size: 28px;
  color: #dcca87;
  font-weight: 100;
}

.item p {
  font-size: 15px;
  color: #aaa;
  margin-top: 5px;
}

.item span {
  font-size: 18px;
}

.menu-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.view-btn {
  background: #dcca87;
  border: none;
  padding: 12px 36px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
   font-family: "Cormorant Upright", serif;
}

.view-btn:hover {
  background: #fff;
  color: #000;}
  
.menu-center img {
  height: 550px;
}

.item:hover h3 {
  color: #fff;
}

.item:hover::after {
  width: 120px;
  transition: 0.3s;
}

/* page 4 */
.chef {
  padding: 100px 0;
  /* background: radial-gradient(circle, #1a1a1a, #000); */
}

.chef-container {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 80px;
}

/* IMAGE */
.chef-image {
  position: relative;
  width: 45%;
}

.chef-image img {
  width: 100%;
  position: relative;
  z-index: 2;
}

.leftgold-frame {
  position: absolute;
  top: -25px;
  left: -25px;
  width: 100%;
  height: 100%;
  border: 28px solid #dcca87;
  z-index: 1;
}

.rightgold-frame {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 100%;
  height: 100%;
  border: 29px solid #dcca87;
  z-index: 1;
}
/* CONTENT */
.chef-content {
  width: 55%;
}

.sub-title {
   font-family: "Cormorant Upright", serif;
  color: #dcca87;
  font-size: 22px;
  margin-bottom: 4vw;
}

.chef-content h2 {
   font-family: "Cormorant Upright", serif;
  font-size: 72px;
  color: #dcca87;
  margin-bottom: 5vw;
}

.quote {
  font-size: 19px;
  line-height: 28px;
  color: #aaa;
  margin-bottom: 4vw;
  max-width: 640px;
}

.chef-name h3 {
  color: #dcca87;
  font-size: 32px;
 font-family: "Cormorant Upright", serif;
}

.chef-name span {
  font-size: 16px;
  color: #aaa;
}

.signature {
  margin-top: 35px;
  font-size: 86px;
  color: #aaa;
  font-family: "Great Vibes", cursive;
  opacity: 0.7;
}

/* Awards and recognition */
.laurels {
  padding: 100px 0;
 background: radial-gradient(circle, #1a1a1a, #000);
}

.laurels-container {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 80px;
}

/* LEFT */
.laurels-content {
  width: 55%;
}

.sub-title {
  color: #dcca87;
  font-family: "Cormorant Upright", serif;
  font-size: 25px;
  margin-bottom: 28px;
}

.laurels-content h2 {
  font-family: "Cormorant Upright", serif;
  font-size: 72px;
  color: #dcca87;
  margin-bottom: 50px;
}

.awards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 40px;
}

.award {
  display: flex;
  gap: 15px;
}

.circle {
  width: 50px;
  height: 50px;
  border: 2px solid #dcca87;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dcca87;
  font-family: "Cormorant Upright", serif;
}



.award h4 {
  color: #dcca87;
  font-size: 26px;
  font-family: "Cormorant Upright", serif;
}

.award p {
  font-size: 18px;
  color: #aaa;
  margin-top: 6px;
  width: 60%;
}

/* RIGHT IMAGE */
.laurels-image {
  width: 35%;
  position: relative;
}

.laurels-image img {
  width: 100%;
  display: block;
}

.overlay-letter {
  position: absolute;
  bottom: -55px;
  left: -65px;
  font-size: 480px;
  font-family: "Cormorant Upright", serif;
  color: rgba(255, 255, 255, 0.08);
  pointer-events: none;

}

/* Instagram */
.gallery-section {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 40px;
  padding: 80px 60px;
  padding-right: 0;
  background: #0c0c0c;
  color: white;
}
.gallery-text button{
  background: #dcca87;
  border: none;
  padding: 12px 36px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Cormorant Upright", serif;
}
.gallery-text p{
  font-size: 17px;
  margin-bottom: 35px;
  line-height: 2vw;
}

.gallery-text h2 {
  font-size: 55px;
  color: #dcca87;
  margin-bottom: 50px;
   font-family: "Cormorant Upright", serif;
}

.gallery-wrapper {
  position: relative;
  width: 100%;
  max-width: 900px;
  overflow: hidden;
}

.gallery {
  padding-right: 0;
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.img-box {
  position: relative;
  width: 300px;
  height: 400px;
  flex-shrink: 0;
  overflow: hidden;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.img-box:hover .overlay {
  opacity: 1;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.7);
  color: white;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  z-index: 10;
}

.left { left: -50px; }
.right { right: -50px; }

.scroll-arrow {
  position: absolute;
  left: 12px;
  bottom: 12px;
  font-size: 22px;
  color: #dcca87;
  background: rgba(0, 0, 0, 0.6);
  padding: 6px 10px;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0.9;
}

/* Hide arrow on hover */
.img-box:hover .scroll-arrow {
  opacity: 0;
}


.findus {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
  gap: 80px;
}

.findus__content {
  max-width: 500px;
}

.subtitle {
   font-family: "Cormorant Upright", serif;
  color: #dcca87;
  letter-spacing: 2px;
  font-size: 25px;
}

h2 {
  font-size: 74px;
  margin-bottom: 90px;
  color: #dcca87;
  margin: 50px 0;
   font-family: "Cormorant Upright", serif;
}

.address,
p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 3vw;
  line-height: 1.6;
}

h4 {
   font-family: "Cormorant Upright", serif;
  color: #dcca87;
  margin-bottom: 3vw;
  font-size: 22px;
}

.btn {
  margin-top: 20px;
  padding: 12px 28px;
  border: none;
  background: #dcca87;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
   font-family: "Cormorant Upright", serif;
}

.findus__image {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 520px;
  overflow: hidden;
}

.findus__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

/* GOLD DESIGNER FRAME */
.leftframe{
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
  border: 18px solid #dcca87;
  z-index: 3;

}
.rightframe{
  top: 5px;
  left: 25px;
  border: 29px solid #dcca87;
}

/* NEWSLETTER */
.footer {
    background: #0c0c0c;
    padding: 3rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Newsletter Box */

/* SECTION */
.newsletter-section {
  padding: 6rem ;
  background: radial-gradient(circle, #111111, #0c0c0c);
  display: flex;
  justify-content: center;
}

/* BOX */
.newsletter-box {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 2.5rem 7.5rem;
  text-align: center;
  border: 1px solid #dcca87; /* EXACT FRAME */
  background: #0c0c0c;
}

/* TAG */
.newsletter-tag {
  color: #ffffff;
  font-family: "Cormorant Upright", serif;
  letter-spacing: 2px;
  font-size: 25px;
  margin-bottom: 1rem;
  position: relative;
}

.newsletter-tag::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background: #dcca87;
  margin: 0.5rem auto 0;
}

/* TITLE */
.newsletter-title {
  color: #dcca87;
  font-size: 3rem;
  font-family: "Cormorant Upright", serif;
  margin: 1.5rem 0;
}

/* SUBTITLE */
.newsletter-subtitle {
  color: #aaaaaa;
  font-size: 1rem;
  margin-bottom: 3rem;
}

/* FORM */
.newsletter-form {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.newsletter-form input {
  width: 420px;
  max-width: 100%;
  padding: 1rem;
  background: transparent;
  border: 1px solid #dcca87;
  color: #ffffff;
  outline: none;
}

.newsletter-form input::placeholder {
  color: #777;
  font-size: 15px;
  font-family:"Cormorant Upright", serif;
}

.newsletter-form button {
  padding: 1rem 2.5rem;
  background: #ffffff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
   font-family: "Cormorant Upright", serif;
}

.footer {
  background: #0c0c0c;
  color: #ffffff;
  padding: 5rem 2rem 2rem;

}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 6rem;
  margin: auto;
}

.footer-box {
  flex: 1;
}

.footer-box h3 {
   font-family: "Cormorant Upright", serif;
  font-size: 1.9rem;
  margin-bottom: 1.5rem;
}

.footer-box p {
  color: #aaa;
  margin: 0.3rem 0;
  font-size: 0.95rem;
}

/* CENTER SECTION */
.footer-box.center {
  text-align: center;
}

.footer-box.center h2 {
  font-size: 2.8rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.quote {
  margin: 1rem 0;
  font-style: italic;
}

/* SPOON DIVIDER */
.spoon {
  width: 40px;
  height: 2px;
  background: #dcca87;
  margin: 1rem auto;
}

/* SOCIAL ICONS */
.social-icons {
  margin-top: 1.5rem;
}

.social-icons i {
  margin: 0 0.7rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.social-icons i:hover {
  color: #dcca87;
}

/* COPYRIGHT */
.footer-copyright {
  margin-top: 3rem;
  text-align: center;
  color: #aaa;
  font-size: 1.2rem;
}




